body {
  text-align: center;
  background-color: #242424;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #9b9a95;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 45%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background: linear-gradient(rgb(247, 8, 8) , black);
  /* background-color: rgb(12, 190, 33); */
}

.green {
  background: linear-gradient(rgb(31, 123, 3) , black);
  background-color: rgb(209, 237, 209);
}

.blue {
  background: linear-gradient(rgb(246, 0, 151) , black);
  background-color: rgb(208, 33, 162);
}

.yellow {
  background: linear-gradient(rgb(242, 255, 2) , black);
  background-color: rgba(229, 229, 18, 0.895);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
